<mat-form-field>
  <label>
    <input #filter matInput (keyup)="applyFilter(filter.value)" placeholder="Filter">
  </label>
</mat-form-field>

<mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onEdit(row)"><i class="material-icons">edit</i></button>
      &nbsp;
      <button mat-icon-button (click)="onDelete(row)" color="warn"><i class="material-icons">delete</i></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <!--suppress JSUnusedGlobalSymbols -->
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
