<mat-form-field>
  <label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </label>
</mat-form-field>

<mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="pointer" *matRowDef="let row; columns: displayedColumns" (click)="click(row)"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
