<mat-toolbar color="primary">
  <span class="pointer" routerLink="/" routerLinkActive="active">Angular Material App</span>
  <!-- divisor -->
  <span style="width: 5%"></span>
  <!-- links -->
  <a mat-button routerLink="/clientes" routerLinkActive="active">Clientes</a>
  <a mat-button routerLink="/produtos" routerLinkActive="active">Produtos</a>
  <a mat-button routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
